.nav-right > .choose-language {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-weight: bold;
}

.nav-right > .choose-language > * {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: content-box;
}

.nav-right > .choose-language > *:not(.language-choosed):hover {
  color: rgba(0, 0, 0, 0.4);
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);
}

.nav-right > .choose-language > .language-choosed {
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

.nav-right > .choose-language > :first-child {
  margin-right: 5px;
}

.navbar-brand {
  display: table;
}
.navbar-brand > img,
.navbar-brand > p {
  vertical-align: middle;
  display: table-cell;
}

.navbar-brand > p {
  padding-left: 20px;
}

.signout > a {
  color: red !important;
}

.nav-wallet {
  margin-right: 20px;
  align-items: center;
  display: flex;
}

.nav-wallet > :first-child {
  margin-right: 10px;
}

.nav-wallet > svg {
  margin-right: 3px;
}

.signout {
  display: flex;
  align-content: center;
}

.signout > a {
  border: 1px solid red;
  border-radius: 6px;
  cursor: pointer;
}

.signout > a:hover {
  background-color: red;
  color: white !important;
}

#responsive-navbar-nav > div:first-child > .nav-choosed {
  font-weight: bold;
  color: blueviolet;
  border-bottom: 2px solid blueviolet;
}

@media (max-width: 576px) {
  #responsive-navbar-nav > div:first-child > * {
    border-bottom: 2px solid grey;
  }

  #responsive-navbar-nav > div:first-child > *:last-child {
    margin-bottom: 20px;
  }
}
