.trade-options {
}

.trade-options > * {
  text-align: center;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
}

.line-beteween {
  width: 0.5px;
  background-color: #d4d4d4;
  border-radius: 5px;
  padding: 11px 0 11px 0;
  margin: auto;
}

.trade-options > *:hover {
  color: gray;
  border-bottom: 2px solid gray;
}

.trade-options > :first-child {
  border-left: none !important;
}

.trade-options > .choosed {
  color: blueviolet;
  border-bottom: 2px solid blueviolet;
}
.trade-item {
  border: 1px solid black;
  margin-top: 10px;
  border-radius: 8px;
  background-color: white;
}
.trade-item > :first-child {
  margin-top: 15px !important;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 15px;

  cursor: pointer;
  background-color: white;
  color: black;
}

.trade-item > :first-child:not(.closed) {
  margin: 5px;
  border-bottom: 1px solid black;
}

.trade-item:hover > :first-child {
  color: gray;
}

.trade-item:hover > :first-child:not(.closed) {
  color: gray;
  border-bottom: 1px solid gray;
}

.trade-item:hover {
  color: gray;
  border: 1px solid gray;
}

.trade-currency > span {
  margin-left: 10px;
}

.trade-info > * {
  text-align: right;
  justify-content: flex-end;
}

.positive-amount {
  color: green;
  font-weight: bold;
}

.pending {
  color: darkorange;
  font-weight: bold;
}

.negative-amount {
  color: red;
  font-weight: bold;
}

.close-trade.closed {
  display: none;
}

.close-trade {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.btn-white {
  color: black !important;
  background-color: white !important;
  border: 1px solid black !important;
}

.btn-white:hover {
  color: white !important;
  background-color: black !important;
  border: 1px solid black !important;
}

.btn-black {
  color: white !important;
  background-color: black !important;
  border: 1px solid white !important;
}

.btn-black:hover {
  color: black !important;
  background-color: white !important;
  border: 1px solid black !important;
}

.new-trade {
  margin-top: 30px;
  margin-bottom: 50px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}

.new-trade > p {
  margin-top: -32px;
  width: 160px;
  padding-left: 10px;
  background-color: white;
}

.trade-form {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  margin-top: 20px;
}

.trade-form > * {
  display: flex;
  align-items: center;
}

.trade-form > * > label {
  margin-right: 10px;
}

.trade-form > * > .form-group,
.trade-form > * > label {
  margin-bottom: 0;
}

select {
  height: 38px;
  padding: 5px;
  border-radius: 5px;
}

.trade-history {
  background-color: #fcfcfc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.trade-form > div > label {
  width: 130px;
}

.candlestick {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.candlestick > div {
  width: 50%;
}

@media (max-width: 1000px) {
  .candlestick > div {
    width: 75%;
  }
}

@media (max-width: 500px) {
  .candlestick > div {
    width: 100%;
  }
}

.trade-form > hr {
  width: 100%;
  display: block;
}

.trade-form > div:first-child {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .trade-form > hr {
    display: none;
  }

  .trade-form > div:first-child {
    margin-bottom: 0;
  }
}

.history-close {
  margin-top: 0;
}

.history-close > div {
  margin-bottom: 40px;
}

.no-data {
  margin: 50px;
  text-align: center;
}
