.wallet-form {
  display: flex;
  flex-flow: wrap;
}
.wallet-form > * {
  margin-right: 20px;
}
.wallet-form > hr {
  width: 100%;
  display: block;
}

@media (min-width: 992px) {
  .wallet-form > hr {
    display: none;
  }

  .wallet-form > div:first-child {
    margin-bottom: 0;
  }
}
